<nav class="tab-bar">
  <section class="left-small">
      <a class="left-off-canvas-toggle" href="#" title="Meny">
          <span>MENY</span>
      </a>
  </section>

  <section class="right tab-bar-section tab-bar-logosection">

  </section>

  <section class="right-small">
      <a href="#" title="Sök">
          <span>SÖK</span>
      </a>
  </section>
</nav>
<aside class="left-off-canvas-menu">
  <!---->



<!--Under arbete-->

<h2 class="block-title"><div class="menu_block">2015 new meny</div></h2>

<div class="menu-block-wrapper menu-block-9 menu-name-menu-2015-meny parent-mlid-0 menu-level-1">
<ul class="off-canvas-list"><ul class="menu-top"><li class="close-menu" (click)="closeMeny()"><a >Stäng</a></li></ul><li class="first last leaf active menu-mlid-10182"><a href="/" title="" class="active">Start</a></li>
</ul></div>

</aside>
