@import url('https://fonts.googleapis.com/css?family=Baloo|Hind+Siliguri|Questrial|Roboto');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');



@import url(assets/css/bb-font.css); /* Barnens bibliotek eget font */
@import url(https://www.kulturkatalogenvast.org/Portals/_default/skins/kk_aj_publik_bespin/public/css/kk_aj_PublicBespinCSS_v1.0.0.css);

.dantooine-container{
    background-color: #fff;
}

ng-autocomplete {
    display: block;
    width: 100% !important;
    padding: .175rem 0rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out
}
ng-autocomplete .autocomplete-container {
    box-shadow:none;
    height: auto;
}
ng-autocomplete .autocomplete-container .input-container input{

    line-height: 30px;
    height: 30px;
}

.dantooine-post-cover-img-andreas{background-color:#ccc;background-position:center;background-size:cover}


.dantooine-post-cover-bg-rosa{
    background-color:#d3749d;
    @extend .setdefheight;
}
.dantooine-post-cover-bg-orange{
    background-color:#f39e33;
    @extend .setdefheight;
}
.dantooine-post-cover-bg-lightblue{
    background-color:#a5daf0;
    @extend .setdefheight;
}



.dantooine-post-cover-bg-lila{ background-color:#847db4;  @extend .setdefheight;}
.dantooine-post-cover-bg-brown{ background-color:#b39f70; @extend .setdefheight;}
.dantooine-post-cover-bg-neonblue{ background-color:#4ab5e1; @extend .setdefheight;}
.dantooine-post-cover-bg-lightrosa{ background-color:#e3a8c1; @extend .setdefheight;}
.dantooine-post-cover-bg-grey{ background-color:#a5a5a5; @extend .setdefheight;}
.dantooine-post-cover-bg-grey2{ background-color:#ccc; @extend .setdefheight;}
.icon-bb-berattelse2{ background-color:#ccc; @extend .setdefheight;}
.icon-bb-deckare2{ background-color:#ccc; @extend .setdefheight;}
.dantooine-post-cover-bg-lightgrey{ background-color:#d2d2d2; @extend .setdefheight;}
.dantooine-post-cover-bg-lightgreen{ background-color:#d0e3a6; @extend .setdefheight;}
.dantooine-post-cover-bg-lightbrun{ background-color:#d9cfb7; @extend .setdefheight;}
.dantooine-post-cover-bg-lightgul{ background-color:#fff7b0; @extend .setdefheight;}
.dantooine-post-cover-bg-lightorange{ background-color:#f9cf99; @extend .setdefheight;}
.dantooine-post-cover-bg-green{ background-color:#b4d171; @extend .setdefheight;}
.dantooine-post-cover-bg-lightlila{ background-color:#c1bed9; @extend .setdefheight;}
.dantooine-post-cover-bg-lightgrey{ background-color:#ccc; @extend .setdefheight;}
.dantooine-post-cover-bg-gul{ background-color:#fff061; @extend .setdefheight;}

.setdefheight{
    min-height: 170px;
}

.slider.slider-horizontal {
  width: 100%;
}

.ng-autocomplete {
  width: 100%!important;

  li {
    width:100%!important;
  }
  height: 3rem;
  border: 0px;
  border-radius: 0;
  input{
    margin-bottom: 5px!important;
    height: 40px!important;
  }
}

a:hover{
text-decoration: none;

}
.vald{
  a:hover{
    text-decoration: none;
    color:#fff;
    }
    a:active{
      color:#fff;
    }
}
.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination li
{
  margin-right: .5rem !important;
  background: #ebeae6 !important;
  border: transparent !important;
  color: #666666 !important;
  border-radius: 4px !important;
}

.ngx-pagination li a:hover {
  background: #464646 !important;
  border-radius: 4px !important;
  color: #fff !important;
  border: transparent !important;
}
.ngx-pagination .current{
  background: #585661 !important;
  border-radius: 4px !important;
  color: #fff !important;
  border: transparent !important;
}

ngx-pagination li .disabled{


  color: #ccc !important;
}

.buttonmall, .kk_aj_mainFreetextSearchblock #kk_aj_btnfreetextSearch.tiny, .kk_aj_searchbuttonblock button.tiny, .kk_aj_bg_beige .kk_aj_kontaktmbutton, .kk_aj_mainFreetextSearchblock #kk_aj_btnfreetextSearch.tiny, .kk_aj_searchbuttonblock button.tiny, .kk_aj_kontaktmbutton, .kk_aj_visaminneslistan, .kk_aj_searchRensaformbutton, .kk_aj_bg_beige .kk_aj_kontaktmbutton {
  height: 36px !important;
}
