<div class="small-12 columns footencol">
  <footer class="footer" style="margin-top: 2rem;">
      <div class="row">
          <div class="small-12 medium-12 large-12 columns">
              <div class="vglogo">
                  <a href="https://www.vgregion.se" target="_blank">
                      <img alt="Västra Götalandsregionen" src="/Portals/_default/Skins/kk_aj_Publik_Bespin/public/images/vg_logo_white.png">
                  </a>
              </div>

          </div>
      </div>
      <div class="row footdelare">
          <div class="small-12 medium-6 large-6 columns">
              <div class="foot-kivlogo-container">
   <div class="tillganglighet" style="text-align:left; text-decoration:underline;">
                  <a href="https://www.kulturkatalogenvast.org/Kulturkatalogen-V%C3%A4st-S%C3%B6k-i-kulturkatalog/Tillg%C3%A4nglighetsredog%C3%B6relse" target="_blank">
                      Webbplatsens tillgänglighetsredogörelse
                  </a>
              </div>
              </div>
          </div>
          <div class="small-12 medium-6 large-6 columns">
              <div class="foot-social-container">
                  <ul class="socialiconlist">
                      <li>
                          <a href="https://www.facebook.com/kulturivast/" target="_blank">
                              <img src="/Portals/_default/Skins/kk_aj_Publik_Bespin/public/images/FACEBOOKlogga.png" alt="www.facebook.com/kulturivast/"></a>
                      </li>
                      <li>
                          <a href="https://www.instagram.com/kulturivast/" target="_blank">
                              <img src="/Portals/_default/Skins/kk_aj_Publik_Bespin/public/images/INSTAGRAMlogga.png" alt="www.instagram.com/kulturivast"></a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="small-12 columns footdelarehrbox">
             <span id="kk_aj_CurrentUserid" class="kk_aj_CurrentUserid">-1</span>
             <hr>
          </div>
      </div>
      <div class="row adressrow">
          <!--<div class="small-12 medium-12 columns kivfootbottom">-->

          <div class="small-12 medium-6 large-3 columns">
             <h3>Postadress</h3>
             Vänerparken 13
             <br>
             462 35 Vänersborg
          </div>
          <div class="small-12 medium-6 large-3 columns">
             <h3>Besöksadress</h3>
             Bergslagsgatan 2<br>
             411 04 Göteborg
          </div>
          <div class="small-12 medium-6 large-3 columns">
             <h3>Telefon</h3>
             031 333 51 00 (växel)

          </div>
          <div class="small-12 medium-6 large-3 columns">
             <h3>E-post</h3>
             <a href="mailto:yvonne.jagersjo@vgregion.se">yvonne.jagersjo@vgregion.se</a>
          </div>

          <!--</div>-->
      </div>
  </footer>
</div>
